
<footer class="footer">
  <section class="contact-us">
    <h2>CONTACT US</h2>
    <div class="contact-left">
      <div class="contact-item">
        <img src="./images/icons8-location-50.png" alt="Address Icon" class="contact-icon">
        <p><span style="color: skyblue;">Address</span><br>7896 Onipanu Road,<br>Ikorodu-Road, Lagos, <br>110678, Nigeria</p>

      </div>
      <div class="contact-item">
        <img src="./images/icons8-phonecall-50.png" alt="Phone Icon" class="contact-icon">
        <p><span style="color: skyblue;">Phone</span><br>+234 8063413620</p>
      </div>
      <div class="contact-item">
        <img src="./images/icons8-email-30.png" alt="Email Icon" class="contact-icon">
        <p><span style="color: skyblue;">Email us</span><br>storgedesk@gmail.com</p>
      </div>
    </div>
  
    <div class="contact-right">
      <h2>MESSAGE US</h2>
      <form action="https://api.web3forms.com/submit" method="POST" class="contact-form">
        <input type="hidden" name="access_key" value="c6148e9a-e13d-459d-aab8-0c8a4fe825ae">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" required></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </section>

  <div class="copyright">
    <p>Copyright 2024 Godwin Sunday</p>
  </div>  
</footer>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./main.js"></script>

</body>
</html>