<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GodwinForte</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <script src=""></script>
</head>

<body>
  <header>
    <div class="logo">
        img(src="./images/storge.png", alt="")
    </div>

    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/bookings">Bookings</a></li>
            <li><a href="/coming">Gallery</a></li>
            <li><a href="/coming">Events</a></li>
        </ul>
    </div>

    <div class="menu-icon" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>


  </header>