include ./partials/header.pug


<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="./images/bg-concert.jpg" alt="">
      <div class="bg-note">
        <h2 style="color: rgb(174, 115, 5);">HEY,</h2>
        <p>Listen to my latest work on Spotify</p>
        <a href="https://open.spotify.com/track/2kbUEVIAUXIi0tjUYq5vEK?si=b19b75d116024b40">
          <img src="./images/listen on spotify.png" alt="" class="spotify-image"/>
        </a>
      </div>
    </div>



    <div class="swiper-slide">
      <img src="./images/bg-mic2.jpg" alt="">
      <div class="bg-note">
        <h2>MUSIC RECORDING</h2>
        <p>Explore new horizons of depth music production</p>
        <button class=hero-btn><a href="/bookings">Make Music</a></button>
      </div>
    </div>


    <div class="swiper-slide">
      <img src="./images/bg-teach.jpg" alt="">
      <div class="bg-note">
        <h2>MUSIC TUTORIALS</h2>
        <p>Comprehensive music lessons at your disposal</p>
        <button class=hero-btn><a href="/bookings">Learn More</a></button>
      </div>
    </div>

    <div class="swiper-slide">
      <img src="./images/bg-mic.jpg" alt="">
      <div class="bg-note">
        <h2>STUDIO installation</h2>
        <p>Want to set up a studio space?</p>
        <button class=hero-btn><a href="/bookings">Book Now</a></button>
      </div>
    </div>
  </div>
</div>

<div class="music-ex">
  <h2 class="reveal">MUSIC TRILOGY</h2>
  <div class="inner-elements">
    <p class="note">Godwin's musical journey began in his local church, where he nurtured his skills and passion for music. Immersed in a supportive community and guided by mentors, he explored various aspects of music, from playing instruments to leading worship. The church environment helped him refine his talents and develop a deep appreciation for music's ability to connect people, shaping both his technical skills and his commitment to his craft.</p>
    <img src="/images/asu 1.jpg" alt="" class="note-img">
    <img src="/images/down-arrow.png" alt="" class="down-arrow">
  </div>

  <div class="outer-elements">
    <p class="note-2">Godwin is a passionate music enthusiast with a deep appreciation for pro audio. His love for music began early, but it truly evolved during his time at a music school, where he honed his skills and deepened his expertise in sound engineering. With a keen ear for quality audio and a dedication to music, Godwin explores the intersection of creativity and technology, constantly seeking new ways to enhance and innovate in the world of sound.</p>
    <img src="/images/asu main.jpg" alt="" class="outer-img">
  </div>
</div>

<section class="projects">
  <h2>WORSHIP PROJECTS</h2>

  <div class="frames">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/krrVI6ixx_4?si=D5sAAwQDmYpDhDVJ"
    title ="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
      gyroscope = picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/p4_WD4dt8x0?si=kesOMMUmRumSLEwW"
    title ="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
      gyroscope = picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/Jh9VqSYNqyU?si=A0havpGVGk7xXyeh" 
    title ="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
      gyroscope = picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/LfIKECYfy5M?si=CbGvbAqrt8ezmMiA"
      title ="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
      gyroscope = picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

  </div>
</section>

<section class="events">
  <div class="vid-container">
    <h2> UPCOMING EVENT </h2>
    <p> My Birthday</p>

    <video autoplay loop muted src="images/coverr-walking-to-the-mountain-top-8360-1080p.mp4" class="bg-video">
    </video>

    <div class="countdown" id="countdown" >
      <div id="days"></div>
      <div id="hours"></div>
      <div id="minutes"></div>
      <div id="seconds"></div>
    </div>

  </div>
  
</section>

<section class="social-media-section">
  <div class="social-box twitter">
    <img src="./images/twit.png" alt="Twitter">
    <span class="title">Twitter</span>
  </div>
  <div class="social-box instagram">
    <img src="./images/ig.png" alt="Instagram">
    <span class="title">Instagram</span>
  </div>
  <div class="social-box youtube">
    <img src="./images/yt.png" alt="YouTube">
    <span class="title">YouTube</span>
  </div>
  <div class="social-box deezer">
    <img src="./images/deezer.png" alt="Deezer">
    <span class="title">Deezer</span>
  </div>
  <div class="social-box spotify">
    <img src="./images/spotify.png" alt="Spotify">
    <span class="title">Spotify</span>
  </div>
  <div class="social-box facebook">
    <img src="./images/fb.png" alt="Facebook">
    <span class="title">Facebook</span>
  </div>
  <div class="social-box boomplay">
    <img src="./images/boomplay.png" alt="Boomplay">
    <span class="title">Boomplay</span>
  </div>
</section>

include ./partials/footer.pug


